/* Allgemeiner Kram */

:root {
    --dunkelgruen: #046362;
    --hellgruen: #26AAB6;
    --hellblau: #B4D5FB;
    --blau: #384BDB;
    --schwarz: #040B1C;
    }

    html {
        font-family: Georgia, serif;
        font-size: 20px;
        color: var(--schwarz);
        box-sizing: border-box;
    }
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    a {
        color: var(--blau);
        padding: 1px;
        text-decoration: none;
        border-bottom: 2px solid var(--blau);
    }

    a:hover {
        color: rgb(235, 235, 235);
        background-color: var(--blau);
        transition: all 0.2s;
    }

.wrapper {
    max-width: 700px;
    margin: 100px auto;
}

img {
    max-width: 100%;
}

p {
    line-height: 1.6;
}

.note {
    background-color: rgba(253, 214, 39, 0.185);
    padding: 20px;
}


li .tag {
    padding: 3px;
    font-size: 17px;
}

li .note {
    background-color: rgba(253, 214, 39, 0.185);
}
li .review {
    padding: 3px;
    background-color: rgb(70, 66, 252);
    color: rgb(243, 243, 243);
}
li .love {
    padding: 3px;
    background-color: rgb(228, 72, 72);
    color: rgb(243, 243, 243);
}
li .hate {
    padding: 3px;
    background-color: rgb(169, 47, 206);
    color: rgb(243, 243, 243);
}

li .tech {
    padding: 3px;
    background-color: rgb(223, 226, 8);
    color: #000000;
}

.meta {
    font-size: 0.8em;
}
.footer {
    text-align: center;
    margin-top: 50px;
}
h2 {
    font-size: 1.2em;
    margin-top: 60px;
}

ul li {
    list-style-type: square;
    line-height: 1.6;
}